body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: yellow;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px black;
}
